body { margin:0px; width: 100%; height: 100%; }
.bg { background-image: url('../../../assets/update.jpg'); 
    width: 100%; height: 100%; 
    background-size: 100% 100%; 
    background-repeat: no-repeat; }


    .text-left
    {
      
          padding-left: 100px;
          padding-top:20px;
         
          font-style: italic;
          color: black;
          block-size: 40px;
          font-size: 40px;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          
      
    }

    form{
        color: Red ;
        
        font-style: italic;
        font-variant: normal;
        font-stretch: extra-condensed;
        font-size:large;
        text-shadow: paleturquoise;
        padding-top: 200px;
       
        
       
        
    }