<!--
<h1>Invoice</h1>

<div class="col-md-6" > 
    <div>
        <label><b>id: </b>{{payment.id}}</label>
    </div>
    <div class="text-center">
        <label><b></b></label>

        <div>
            <label><b>{{payment.invoice.companyName}}</b></label>
        </div>
        <div>
            <label><b>{{payment.invoice.guestId}}</b></label>
        </div>
        <div>
            <label><b>{{payment.invoice.guestName}}</b></label>
        </div>
        <div>
            <label><b>{{payment.invoice.guestMobile}}</b></label>
        </div>
        <div>
            <label><b>{{payment.invoice.numberOfPeople}}</b></label>
        </div>
        <div>
            <label><b>{{payment.invoice.bookedRoomType}}</b></label>
        </div>
        <div>
            <label><b>{{payment.invoice.roomPricePerNight}}</b></label>
        </div>
        <div>
            <label><b>{{payment.invoice.nights}}</b></label>
        </div>
        <div>
            <label><b>{{payment.invoice.bookingDate}}</b></label>
        </div>
        <div>
            <label><b>{{payment.invoice.tax}}</b></label>
        </div>
        <div>
            <label><b>{{payment.invoice.totalBill}}</b></label>
        </div>
        <div>
            <label><b>{{payment.invoice.issuedBy}}</b></label>
        </div>
    </div>
    <div>
        <label><b>Status</b>{{payment.status}}</label>
    </div>



</div>


<button class="btn btn-secondary" type="submit" (click)="onSubmit()">Back</button>

-->