/*#userInfoForm1 {
    width: 80%;
    padding: 5px 5px;
    margin: 0 auto;
    background: #FF6700;
    border-radius: 25px; 
}
*/

#userInfoForm input {
    width: 100%;
   
    
    box-sizing: border-box;
    border-radius: 20px;
    
       
}
body
{


width: 100%;
    height: 100%;

}
/*.bg-img
{
    background-image: url("../../../assets/ciudad-maderas-MXbM1NrRqtI-unsplash.jpg");
    background-position: center;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    position: relative;
  
    background-size: 100% 100%;
}*/


.bg { background-image: url('../../../assets/employ3.jpg'); 
    width: 100%; height: 100%; 
    background-size: 100% 100%; 
    background-repeat: no-repeat; }


    .text-left
    {
      
          padding-left: 1100px;
          padding-top:20px;
          background-color: midnightblue;
          font-style: italic;
          color: cyan;
          block-size: 70px;
          font-size: 40px;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          
      
    }

    
form{
    color: purple ;
    
    font-style: italic;
    font-variant: normal;
    font-stretch: extra-condensed;
    font-size:large;
    text-shadow: paleturquoise;
    font-weight: 600;
    
    
   
    
}

.footer {
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    width:100%;
    height: 40px;
    background-color:rgb(20, 18, 18);
    color: white;
    text-align: center;
    
}