

/*

*/
.footer {
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    width:100%;
    height: 30px;
    background-color:rgb(20, 18, 18);
    color: white;
    text-align: center;
    
}

  .text-left
  {
      padding-left: 300px;
      padding-top:20px;
      background-color: midnightblue;
      font-style: italic;
      color: cyan;
      block-size: 70px;
      font-size: 40px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      
  }

form{
    color: black ;
    font-style: italic;
    font-variant: normal;
    font-stretch: extra-condensed;
    font-size: large;
    text-shadow: paleturquoise;
    font-weight: 600;
   
    
}

/*.bg{
    background-color:midnightblue;
}*/

.bg
{
    background-image: url('../../../assets/guest.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 50% 100%;
    background-position: right;
    background-color: rgb(82, 82, 151);
  
}


#userInfoForm input {
    width: 100%;
   
    
    box-sizing: border-box;
    border-radius: 15px;
    
       
}