
<header>
<div class="text">
	HOTEL-N ADMINISTRATION
	<!--
	<a href="#" class="invoice">Payments</a>
	<a href="#" class="invoice">Invoices</a>
	<a routerLink="#" routerLinkActive="active" class="invoice" >IsuueBill</a>
	-->
</div>
</header>





<div class="container-fluid padding" id="bg">
	
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="../../../assets/single.jpg">
				<div class="card-body">
					<h4 class="card-title">Single Room</h4>
					
					<p class="card-text">  A room assigned to one person. May have one or more beds. The room size or area of Single Rooms are generally between 37 m² to 45 m².</p>
                    <a href="dashboard/home" class="btn btn-secondary">Price : ₹ 3000</a>
                    <a href="dashboard/addguest" class="btn btn-success" style="margin-left: 220px;">Book Now</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="../../../assets/double.jpg">
				<div class="card-body">
					<h4 class="card-title">Double Room</h4>
					<p class="card-text">A double room contains is intended  for two people, the bed will either be a Double, Queen or King size bed. This room is for couples.There will be only one bed.</p>
                    <a href="dashboard/home" class="btn btn-secondary">Price : ₹ 6000</a>
                    <a href="dashboard/addguest" class="btn btn-success" style="margin-left: 220px;">Book Now</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="../../../assets/triple.jpg">
				<div class="card-body" id="triple">
					<h4 class="card-title">Triple Room</h4>
					<p class="card-text">A room suitable for up to 3 guests. The room contains two regular beds and one extra bed in a superior twin room.</p>
					<a href="dashboard/home" class="btn btn-secondary">Price : ₹ 7000 </a>
                    <a href="dashboard/addguest" class="btn btn-success" style="margin-left: 220px;">Book Now</a>
				</div>
			</div>
		</div>
        
        
	</div>
</div>

<div class="container-fluid padding" id="bg">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="../../../assets/twin.jpg">
				<div class="card-body">
					<h4 class="card-title">Twin Room</h4>
					<p class="card-text">The twin room and double room seem to be the same. Both types of these hotel rooms are designed for two people. The twin room has two single beds. The double room has one double bed, so-called, a marital bed.</p>
					<a href="dashboard/home" class="btn btn-secondary">Price : ₹ 5000</a>
                    <a href="dashboard/addguest" class="btn btn-success" style="margin-left: 220px;">Book Now</a>
				</div>
			</div>
		</div>
		
        <div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="../../../assets/quad.jpg">
				<div class="card-body">
					<h4 class="card-title">Quad Room</h4>
					<p class="card-text">Quad rooms sleep 4 in one big room.Connecting rooms with 2 beds is also available</p>
					<a href="dashboard/home" class="btn btn-secondary">Price : ₹ 10000</a>
                    <a href="dashboard/addguest" class="btn btn-success" style="margin-left: 200px;">Book Now</a>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="../../../assets/king.jpg">
				<div class="card-body">
					<h4 class="card-title">king Room</h4>
					<p class="card-text">A room with a king-size bed. It may be occupied by one or more people.Luxirous interior is provided</p>
					<a href="dashboard/home" class="btn btn-secondary">Price : ₹ 14000</a>
                    <a href="dashboard/addguest" class="btn btn-success" style="margin-left: 210px;">Book Now</a>
				</div>
			</div>
		</div>
        
        
	</div>
</div>



<div class="container-fluid padding" id="bg">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="../../../assets/queen.jpg">
				<div class="card-body">
					<h4 class="card-title">Queen Room</h4>
					<p class="card-text">A full bed measures 53 inches wide by 75 inches long, which is about 4 1/2 feet by 6 1/4 feet.A queen is in the middle when it comes to beds in hotels</p>
                    <a href="dashboard/home" class="btn btn-secondary">Price : ₹ 12000</a>
                    <a href="dashboard/addguest" class="btn btn-success" style="margin-left: 200px;">Book Now</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="../../../assets/presidential.jpg">
				<div class="card-body">
					<h4 class="card-title">Presidential Suite</h4>
					<p class="card-text">Our Presidential Suite measures 246 square meters and sleeps up to four guests. It has two bathrooms, a Jacuzzi, a private pool, and direct access to the beach. It also has a living room, a spacious balcony and also dining room as well.Presidential suite and Royal suite are common names for the most expensive suite in a luxury hotel. A very small number of hotels have both a Presidential and a Royal suite.</p>
					<a href="dashboard/home" class="btn btn-secondary">Price : ₹ 20000</a>
                    <a href="dashboard/addguest" class="btn btn-success" style="margin-left: 200px;">Book Now</a>
				</div>
			</div>
		</div>
		
        
        
	</div>
</div>

